
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nerko+One&family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link rel="stylesheet" type = "text/css" href="../CSS/reviews_style.css">

        <title>Reviews</title>
    </head>
    <body>
        <div class = "main">
            <!--Nav bar-->
            <div>
                <nav class="navbar">
                    <div class="logo">
                        <h4><a href="/">Snack Express</a></h4>
                    </div>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="order-now">Order now!</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                    </ul>   
                </nav>
            </div>
            
            
        </div>
        <div class="intro">
            <h1>Your feedback matters to us !</h1>
            <p>If you loved our food , let us know down below.</p>
        </div>
        <div class="featured">
            <h1>Check out our featured reviews!</h1>
        </div>
            <div class="cards">
                <div class="card card1">
                    <div class="container">
                        
                    </div>
                    <div class="details">
                        <h3>Ashutosh Sinha</h3>
                        <p>Their website helped me enjoy their delicious food even during lockdown. Great work!</p>
                    </div>
                </div>
                <div class="card card2">
                    <div class="container">
                        
                    </div>
                    <div class="details">
                        <h3>Pankaj Kapoor</h3>
                        <p>Food tastes great as always and they deliver food to your doorstep while it's still hot!</p>
                    </div>
                </div>
                <div class="card card3">
                    <div class="container">
                        
                    </div>
                    <div class="details">
                        <h3>Aman Gowda</h3>
                        <p>I recommended this restaurant to my friends and they all loved it!!</p>
                    </div>
                </div>
            </div>
        
        <div class="review-form">

            <fieldset class="outer-box">

                <div class="review-content">
                    <form action="/reviews" method="POST">
                        <div class="row">
                            <div class="column">
                                <fieldset class="contact">
                                    <legend>Contact</legend>
                                    <input class ="col1" type="text" placeholder="Full Name" name="fullName" required autocomplete="off"/>
                                                    
                                    <input class ="col1" type="email" placeholder="Email" name="emailID" required autocomplete="off"/>
                                    
                                    <input class ="col1" type="telephone" placeholder="Phone number" name="Phone" required autocomplete="off"/>
                                </fieldset>
                            </div>
                            <div class="column">
                                <fieldset class="review">
                                    <legend>Review</legend>
                                    <textarea class ="col1" rows = "6" cols = "80" placeholder="Write a review!" name="Review"></textarea>
                                </fieldset>    
                            </div>
                        </div>
                        <button class="button">Submit</button>
                    </form>
                </div>
            </fieldset>
    
        </div> 
        
        <div class="latest-reviews">
            <h2>Check out our latest reviews ! </h2>

            <% if (revs.length > 0) { %>
                <% revs.forEach(revs => { %>
                    <div class="review-card">
                        <div class="name">
                            <h3><%= revs.fullName %></h3>
                        </div>
                        <div class="date">
                            <p><%= revs.createdAt.toDateString() %></p>
                        </div>
                        <div class="text">
                            <p>"<%= revs.Review %>"</p><br>
                        </div>
                        
                        
                    </div>
                <% }) %>
              <% } else { %>
                <p>There are no reviews to display...</p>
            <% } %>
            


        </div>

        <footer id="footer">
            <div class="location">
                <h3>Find Us</h3></br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, enim?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, expedita.</p>
            </div>
            <div class="working-hours">
                <h3>Opening hours</h3></br>
                <p>Mon - Fri : 10 AM - 10PM</p></br>
                <p>Sat- Sun : 8AM - 11PM</p>
            </div>
            <div class="Socials">
                <h3>Socials</h3></br>
                <ul>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
        </footer>

    </body>
</html>
